// Callout
.callout {
	height: auto;
	padding-bottom: 2.5rem;
  padding-top: 2.5rem;
  background: linear-gradient(90deg, fade-out($white, 0.9) 0%, fade-out($white, 0.9) 100%), url('../img/bg-portfolio.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

}